.rectangle2{
    margin: 50px auto;
    width: 692px;
    height: 500px;
    left: 424px;
    bottom: 109px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
}
.title{
    margin: 25px auto;
    height: 49px;
    width: 400px;
    top: 174px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */


    color: #1372A8;
}
.textLong{
    margin: 15px 152.5px;
    width: 385px;
    height: 55px;
    background: #F7F8F9;
    border: 1px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 5px;
}