.service-card {
    padding:20px;
}

.service-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.service-col {
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-body {
    margin-top: 30px;
}

.service-card {
    height: 100%;
}

.service-card img {
    height: 110px;
}

.service-card h6 {
    font-size: 18px;
    color: #1372A8;
}

.service-card p{
    color: #828282;
}